@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Poiret One', cursive;
}


:root {
    --color-one: #000;
    --color-two: #fff;
    --color-three: #799351;
    --color-four: rgba(93, 146, 80, 0.753);
    --color-five: rgba(183, 219, 173, 0.753);
    --color-six:  rgba(0,0,0,0.5);
    --color-seven: rgb(106, 106, 106);
    --color-eight:  #e91e28;
}
/* ----------------------------------- conteudo da pagina */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../imagens/jude-beck-ZgDRrCQgsLc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-y: 90%;

}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-two)
}
.contact .content p {
    font-weight: 300;
    color: var(--color-two);
}
.container-contato {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-contato .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.container-contato .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container-contato .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: var(--color-five);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.container-contato .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 19px;
    color: var(--color-one);
    flex-direction: column;
    font-weight: bold;
}
.container-contato .contactInfo .box .text h3 {
    font-weight: bold;
    color: var(--color-two);
    font-size: 20px;
}
.contactForm {
    width: 40%;
    padding: 40px;
    background-color: var(--color-five);
}
.contactForm h2 {
    font-size: 30px;
    color: var(--color-two);
    font-weight: bold;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10%;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    background-color: var(--color-five);
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--color-six);
    font-weight: bold;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: var(--color-eight);
    font-size: 18px;
    font-weight: bold;
    transform: translateY(-25px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: var(--color-three);
    color: var(--color-two);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}
