@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poiret One', cursive;
}
b {
    position: absolute;
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    color: var(--color-one);
    z-index: 1;
    margin-left: 40px;
}

.container {
    overflow: auto;
    padding-bottom: 63px;
}
.btn {
    width: 100px;
    background: var(--color-three);
    color: var(--color-six);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    float: left;
}
.btn:hover {
    width: 100px;
    background: var(--color-six);
    color: var(--color-two);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.input-padrao {
    background-color: var(--color-five);
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.pag-login {
    background-image: url(../imagens/gaelle-marcel-yO9ZVNFbpao-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.pag-login h1 {
    margin-bottom: 40px;
    color: var(--color-six);
}

.pag-login .input-padrao {
    width: 50%;
    display: inline-block;
}
.box-login {
    display: inline-block;
    background-color: var(--color-five);
    box-shadow:  3px 3px 5px 2px #ccc;
    padding: 60px 20px 35px 20px;
    width: 400px;
}
.pag-login .btn {
    display: block;
    float: none;
    margin: auto;
}