@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
  --color-one: #000;
  --color-two: #fff;
  --color-three: #00ff5e;
  --color-four: rgba(38, 167, 6, 0.679);
  --color-five: rgba(138, 192, 122, 0.679);
  --color-six:  rgba(0,0,0,0.5);
}

#b_usuario {
  color: #bf7788
}

