@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Poiret One', cursive;
}


:root {
    --color-one: #000;
    --color-two: #fff;
    --color-three: #00ff5e;
    --color-four: rgba(38, 167, 6, 0.679);
    --color-five: rgba(138, 192, 122, 0.679);
    --color-six:  rgba(0,0,0,0.5);
    --color-seven: rgb(179, 0, 0);
  }

b {
    position: absolute;
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    color: var(--color-one);
    z-index: 1;
    margin-left: 40px;
}

.container {
    overflow: auto;
    padding-bottom: 58px;
}

.btn {
    width: 100px;
    background: var(--color-three);
    color: var(--color-six);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    float: left;
}
.btn:hover {
    width: 100px;
    background: var(--color-six);
    color: var(--color-two);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.input-padrao {
    background-color: var(--color-five);
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    font-weight: bold;
    font-family: 'Poiret One', cursive
}

.pag-login {
    background-image: url(../imagens/gaelle-marcel-yO9ZVNFbpao-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.pag-login h1 {
    margin-bottom: 40px;
    color: var(--color-six);
}

.pag-login .input-padrao {
    width: 50%;
    display: inline-block;
}

.box-login {
    display: inline-block;
    background-color: var(--color-five);
    box-shadow:  3px 3px 5px 2px #ccc;
    padding: 60px 20px 0px 20px;
    width: 400px;
}

.pag-login .btn {
    display: block;
    float: none;
    margin: auto;
}

.extra {
    margin: 0px 41px 0px 145px;
}

.extra img {
  height: 90px;
  visibility: hidden;
  width: 100px;
  float: left;
}

.extra .msg_erro {
    background-color: rgb(156 50 77 / 41%);
    color: var(--color-seven);
    visibility: hidden;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    margin-left: -110px;
    padding: 10px;
    margin-top: 10px;
}

.btn-cad {
    float: left;
    margin-left: 138px;
    margin-top: 10px;
    text-decoration: none;
    background: var(--color-three);
    color: var(--color-six);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}
.btn-cad:hover {
    float: left;
    margin-left: 138px;
    margin-top: 10px;
    background: var(--color-six);
    color: var(--color-six);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

 /* ------------------------------------------  efeito botão inscrever-se */

 .pulse {
    height: 120px;
    width: 120px;
    background: var(--color-four);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-two);
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
    animation: pulse 1.5s linear infinite;
    border: 0;
    margin-left: 80%;
    margin-top: 17%;
    text-decoration: none;
    
  }
  @keyframes pulse {
      0%{
        box-shadow: 0 0 0 0 var(--color-four);
      }
      100%{
        box-shadow: 0 0 0 50px var(--color-five);
      }
  }

  .container-c h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 500px;
    margin: 0 0 20px 0;
    color: var(--color-six);
 }
 
.container-c p {
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-size: 40px;
    margin-top: 100px;
    color: var(--color-one);
    
}
.container-c {
    padding: 85px 50px;
    width: 100%;
    height: 380px;
    max-width: 65%;
    margin: auto;
    text-align: left;
    background-color: #ffffff;
    background-image: linear-gradient(327deg, #ffffff 49%, #ddf0d5 100%);
    float: left;
}