@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --color-one: #000;
    --color-two: #fff;
    --color-three: #0A7111;
    --color-four: rgba(38, 167, 6, 0.679);
    --color-five: rgba(138, 192, 122, 0.679);
    --color-six:  rgba(0,0,0,0.5);
  }



/* ------------------------------------ menu */
#b_usuario {
  font-size: 20px;
  color: var(--color-four);
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 49%, #ebc9b675 100%);
  border-bottom: 2px solid var(--color-three);
}
nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: var(--color-two);
    
 }

.logo{
     width: 65px;   
 }

 nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0px;
    display: flex;
 }
 li {
     display: inline-block;
     margin-top: 20px;
 }
 li a {
     text-decoration: none;
     color: var(--color-one);
     font-family: 'Poiret One', cursive;
     font-weight: bold;
     font-size: 19px;
     padding: 0 25px;
     display: inline-block;
 }
 .menu::after {
     content: '';
     display: block;
     width: 0;
     height: 3px;
     background: var(--color-three);
     transition: width .3s;
 }
 .menu:hover::after{
     width: 100%;
     transition: width .3s;
 }

 /* --------------------------------------------------- Footer */

.container-footer {
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    padding: 30px 40px;
    width: 100%;
    height: 300px;
    max-width: 91%;
    margin: auto;
    text-align: left;
    background-color: white;
    float: left;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
    
  }
  .footer-content p {
    max-width: 1000px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 20px;
  }
  .redes-sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .redes-sociais li img {
    width: 30px;
    padding: 10px;
  }
  .footer-bottom {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .footer-bottom p {
    font-size: 20px;
    word-spacing: 2px;
  }
  .footer-bottom span {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 25px;
    color: var(--color-four);
  }
  .footer-logo {
    float: left;
    width: 100px;
    display: flex;
  }