@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Poiret One', cursive;
}

:root {
  --color-one: #000;
  --color-two: #fff;
  --color-three: #0a7111;
  --color-four: rgba(38, 167, 6, 0.679);
  --color-five: rgba(138, 192, 122, 0.679);
  --color-six:  rgba(0,0,0,0.5);
  --color-seven: #8f2e0d;
}

/* ---------------------------------------- slide de fotos */

.galeria {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.fotos {
  width: 100%;
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes animacao {
  25% {
      opacity: 1;
      transition:scale(1.1,1.1);
  }
  50% {
      opacity: 0;
  }
}

.fotos:nth-child(1){

}
.fotos:nth-child(2){
  animation-delay: 3s;
}
.fotos:nth-child(3){
  animation-delay: 6s;
}
.fotos:nth-child(4){
  animation-delay: 9s;
}

 /* -------------------------------------------------  Parallax */

.texto_info {
    position: absolute;
    font-family: 'Lobster Two', cursive;
    font-size: 150px;
    color: var(--color-two);
    z-index: 1;
    margin: 190px 0px 0px 350px;
 }
.foto {
  background-position: center;
   background-size: cover;
   width: 100%;
   height: 660px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.parallax {
    background-attachment: fixed;
}
.imagem2 {
    background-image: url(../imagens/imagem3.jpg);
}
.imagem3 {
    background-image: url(../imagens/imagem\ 2.jpg);
}

 h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 500px;
    margin: 0 0 20px 0;
    color: #222222;
 }
 
.container p {
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-size: 40px;
    margin-top: 100px;
    color: var(--color-one);
    
}
.container {
    padding: 85px 50px;
    width: 100%;
    height: 380px;
    max-width: 65%;
    margin: auto;
    text-align: left;
    background-color: white;
    float: left;
 }

 /* --------------------------------------------------  subir pagina */

 .arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
  }
  .arrow a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: var(--color-six);
    display: block;
    border-radius: 3px;
  }
  .arrow a span {
    color: var(--color-two);
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
  }

  /*-------------------------------------------------------- cards */

.wrapper {
  display: flex;
  width: 140%;
  justify-content: space-around;
  }
.cards {
  width: 310px;
  height: 225px;
  padding: 2rem 1rem;
  background: var(--color-two);
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px var(--color-six);
  transition: 0.5s ease-in-out;
}
.cards:hover {
  transform: translateY(20px);
}
.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(0,201,61,0.5));
}
.cards:hover:before {
  opacity: 1;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.cards .infos {
  position: relative;
  z-index: 3;
  color: var(--color-two);
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.cards:hover .infos {
  opacity: 1;
  transform: translateY(0px);
}
.cards .infos h1 {
  margin: 0;
}
.cards .infos p {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 15px;
  color: var(--color-two);
}
.cards .infos .botao {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--color-two);
  color: var(--color-seven);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.cards .infos .botao:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  color: var(--color-seven);
}

